<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zentao.mapper.ZentaoMapper">
 
 	<!-- bug列表 -->
	<select id="bugList" parameterType="map" resultType="java.util.HashMap">
	<![CDATA[ 
	select dept1.`name` 'deptName'
		, dept.`name` 'groupName'
		, udev.realname 'staffName'
		, p.`name` 'productName'
		, b.id 'bugId'
		, (case when b.`status`='active' then '待处理' when b.`status`='resolved' then '已解决' when b.`status`='closed' then '已关闭' else b.`status` end) 'status'
		, DATE_FORMAT(b.openedDate, '%Y-%m-%d') 'createdDate'
		, DATE_FORMAT(b.resolvedDate, '%Y-%m-%d') 'completeTime'
		, b.title 'remark'
	from zt_bug b
	left JOIN zt_user utest on utest.account = b.openedBy
	left JOIN zt_user udev on udev.account = IF(b.resolvedBy is not null and b.resolvedBy <> '', b.resolvedBy, b.assignedTo)
	left join zt_dept dept on dept.id = udev.dept
	left join zt_dept dept1 on dept1.id = dept.parent
	left join zt_product p on p.id = b.product
	where 1=1 
	]]>
	<if test="params.username != null and params.username != ''">
	<![CDATA[and udev.account = '${params.username}']]>
    </if>
	<if test="params.deptId != null and params.deptId != ''">
	<![CDATA[and udev.dept = '${params.deptId}']]>
    </if>
	<if test="params.beginDate != null and params.beginDate != ''">
	<![CDATA[and b.`openedDate` >= '${params.beginDate}']]>
    </if>
	<if test="params.endDate != null and params.endDate != ''">
	<![CDATA[and b.`openedDate` < DATE_ADD('${params.endDate}',INTERVAL 1 DAY)]]>
    </if>
	<if test="params.type != null and params.type != '' and params.type == 'online'">
        and b.type = '${params.type}'
    </if>
	<if test="params.type != null and params.type != '' and params.type == 'verify'">
        and b.type = '${params.type}'
    </if>
	<if test="params.type != null and params.type != 'offline' and params.type == 'offline' ">
       and (b.type is null or b.type not in ('online','verify'))
    </if>
	<if test="params.deptName != null and params.deptName != ''">
	<![CDATA[and dept1.`name` like '${params.deptName}%']]>
    </if>
	<if test="params.groupName != null and params.groupName != ''">
	<![CDATA[and dept.`name` like '${params.groupName}%']]>
    </if>
	<if test="params.staffName != null and params.staffName != ''">
	<![CDATA[and udev.realname like '${params.staffName}%']]>
    </if>
	<if test="params.bugId != null and params.bugId != ''">
	<![CDATA[and b.id = ${params.bugId}]]>
    </if>
    
	<![CDATA[ 
	and b.deleted = '0'
	ORDER BY dept1.id, dept.id, udev.id
    ]]>
    </select>
    
    
 	<!-- bug统计 -->
	<select id="bugStatistics" parameterType="map" resultType="java.util.HashMap">
	<![CDATA[ 
	select max(dept1.`name`) 'deptName'
		, max(dept.`name`) 'groupName'
		, max(udev.realname) 'staffName'
		, sum(if(b.type in ('codeerror', 'security', 'performance', 'standard', 'designdefect', 'others') or b.type is null, 1, 0)) 'offlineBugs'
		, sum(if(b.type='online', 1, 0)) 'onlineBugs'
		, sum(if(b.type='verify', 1, 0)) 'verifyBugs'
		, '' as 'score'
		, '' as 'remark'
	from zt_bug b
	left JOIN zt_user utest on utest.account = b.openedBy
	left JOIN zt_user udev on udev.account = IF(b.resolvedBy is not null and b.resolvedBy <> '', b.resolvedBy, b.assignedTo)
	left join zt_dept dept on dept.id = udev.dept
	left join zt_dept dept1 on dept1.id = dept.parent
	left join zt_product p on p.id = b.product
	where 1=1 
	]]>
	<if test="params.username != null and params.username != ''">
	<![CDATA[and udev.account = '${params.username}']]>
    </if>
	<if test="params.deptId != null and params.deptId != ''">
	<![CDATA[and udev.dept = '${params.deptId}']]>
    </if>
	<if test="params.beginDate != null and params.beginDate != ''">
	<![CDATA[and b.`openedDate` >= '${params.beginDate}']]>
    </if>
	<if test="params.endDate != null and params.endDate != ''">
	<![CDATA[and b.`openedDate` < DATE_ADD('${params.endDate}',INTERVAL 1 DAY)]]>
    </if>
	<if test="params.deptName != null and params.deptName != ''">
	<![CDATA[and dept1.`name` like '${params.deptName}%']]>
    </if>
	<if test="params.groupName != null and params.groupName != ''">
	<![CDATA[and dept.`name` like '${params.groupName}%']]>
    </if>
	<if test="params.staffName != null and params.staffName != ''">
	<![CDATA[and udev.realname like '${params.staffName}%']]>
    </if>
    
	<![CDATA[ 
	and (b.resolution is null or b.resolution in ('', 'postponed', 'fixed'))
	and b.deleted = '0'
    GROUP BY dept1.id, dept.id, udev.id
	ORDER BY dept1.id, dept.id, udev.id
    ]]>
    </select>
 
 	<!-- 任务列表 -->
	<select id="taskList" parameterType="map" resultType="java.util.HashMap">
	<![CDATA[ 
	select dept1.`name` 'deptName'
		, dept.`name` 'groupName'
		, u.realname 'staffName'
		, t.estimate 'estimate'
		, t.name 'taskName'
		, tet1.consumed 'consumed'
		, case when t.status is null or t.status='' or t.status='NULL'  then '无状态'
					when t.status='wait' then '未开始'
					when t.status='doing' then '进行中'
					when t.status='done' then '已完成'
					when t.status='pause' then '已暂停'
					when t.status='cancel' then '已取消'
					when t.status='closed' then '已关闭'
					else '-' end 'status'
		, DATE_FORMAT(t.openedDate, '%Y-%m-%d') 'openedDate'
		, DATE_FORMAT(t.finishedDate, '%Y-%m-%d') 'finishedDate'
		, DATE_FORMAT(t.deadline, '%Y-%m-%d') 'deadline'
	from zt_task t
	INNER JOIN (
		select tet.account
			, tet.task
			, max(tet.left) estimate
			, SUM(tet.consumed) consumed
		from zt_taskestimate tet
		where 1=1
		]]>
			<if test="params.beginDate != null and params.beginDate != ''">
				<![CDATA[and tet.date >= '${params.beginDate}']]>
		    </if>
			<if test="params.endDate != null and params.endDate != ''">
				<![CDATA[and tet.date < DATE_ADD('${params.endDate}',INTERVAL 1 DAY)]]>
		    </if>
		<![CDATA[
		group by tet.account, tet.task
	) tet1 on tet1.task = t.id and tet1.account = if(t.finishedBy is not null and t.finishedBy <> '', t.finishedBy, t.assignedTo)
	left JOIN zt_user u on u.account = if(t.finishedBy is not null and t.finishedBy <> '', t.finishedBy, t.assignedTo)
	left join zt_dept dept on dept.id = u.dept
	left join zt_dept dept1 on dept1.id = dept.parent
	where 1=1
		]]>
		<if test="params.username != null and params.username != ''">
		<![CDATA[and u.account = '${params.username}']]>
	    </if>
		<if test="params.deptId != null and params.deptId != ''">
		<![CDATA[and u.dept = '${params.deptId}']]>
	    </if>
		<if test="params.deptName != null and params.deptName != ''">
			<![CDATA[and dept1.`name` like '${params.deptName}%']]>
	    </if>
		<if test="params.groupName != null and params.groupName != ''">
			<![CDATA[and dept.`name` like '${params.groupName}%']]>
	    </if>
		<if test="params.staffName != null and params.staffName != ''">
			<![CDATA[and u.realname like '${params.staffName}%']]>
	    </if>
		<![CDATA[
	and t.deleted = '0'
	ORDER BY dept1.id, dept.id, u.id
	]]>
    </select>

	<!-- 用户任务列表 -->
	<select id="userTaskList" parameterType="map" resultType="java.util.HashMap">
	<![CDATA[
	select dept1.`name` 'deptName'
		, dept.`name` 'groupName'
		, u.realname 'staffName'
		, t.estimate 'estimate'
		, t.id 'taskId'
		, t.name 'taskName'
		, tet1.consumed 'consumed'
		, tet1.account 'loginName'
		, DATE_FORMAT(t.openedDate, '%Y-%m-%d') 'openedDate'
		, DATE_FORMAT(t.finishedDate, '%Y-%m-%d') 'finishedDate'
		, DATE_FORMAT(t.deadline, '%Y-%m-%d') 'deadline'
	from zt_task t
	INNER JOIN (
		select tet.account
			, tet.task
			, max(tet.left) estimate
			, SUM(tet.consumed) consumed
		from zt_taskestimate tet
		where 1=1
		]]>
			<if test="params.beginDate != null and params.beginDate != ''">
				<![CDATA[and tet.date >= '${params.beginDate}']]>
		    </if>
			<if test="params.endDate != null and params.endDate != ''">
				<![CDATA[and tet.date < DATE_ADD('${params.endDate}',INTERVAL 1 DAY)]]>
		    </if>
		<![CDATA[
		group by tet.account, tet.task
	) tet1 on tet1.task = t.id and tet1.account = if(t.finishedBy is not null and t.finishedBy <> '', t.finishedBy, t.assignedTo)
	left JOIN zt_user u on u.account = if(t.finishedBy is not null and t.finishedBy <> '', t.finishedBy, t.assignedTo)
	left join zt_dept dept on dept.id = u.dept
	left join zt_dept dept1 on dept1.id = dept.parent
	where 1=1
		]]>
		<if test="params.username != null and params.username != ''">
		<![CDATA[and u.account = '${params.username}']]>
	    </if>
		<if test="params.deptId != null and params.deptId != ''">
		<![CDATA[and u.dept = '${params.deptId}']]>
	    </if>
		<if test="params.deptName != null and params.deptName != ''">
			<![CDATA[and dept1.`name` like '${params.deptName}%']]>
	    </if>
		<if test="params.groupName != null and params.groupName != ''">
			<![CDATA[and dept.`name` like '${params.groupName}%']]>
	    </if>
		<if test="params.staffName != null and params.staffName != ''">
			<![CDATA[and u.realname like '${params.staffName}%']]>
	    </if>
		<![CDATA[
	and t.deleted = '0'
	and t.status in ('wait','doing')
	ORDER BY dept1.id, dept.id, u.id
	]]>
    </select>
    
    
 	<!-- 任务统计 -->
	<select id="taskStatistics" parameterType="map" resultType="java.util.HashMap">
	<![CDATA[ 
	select t1.* 
			, CONVERT(if(t1.excellentCompleteTasks=0 or t1.completeTasks=0, 0, (t1.excellentCompleteTasks/t1.completeTasks*100)), DECIMAL(18,2)) as 'excellentCompleteRate'
			, CONVERT((t1.completeTasks/t1.tasks*100), DECIMAL(18,2)) as 'planCompleteRate'
			, CONVERT(t1.consumed/(@workdays*8)*100, DECIMAL(18,2)) 'loadDaturation'
			, CONVERT((t1.estimate-t1.consumed)/(@workdays*8)*100, DECIMAL(18,2)) 'loadDeviation'
			, CONVERT((t1.completeTasks/t1.tasks*60), DECIMAL(18,2)) as 'score'
			, '' as 'adjustScore'
			, '' as 'collator'
			, '' as 'remark'
	from (
		select max(dept1.`name`) 'deptName'
			, max(dept.`name`) 'groupName'
			, max(u.realname) 'staffName'
			, COUNT(1) 'tasks'
			, CONVERT(sum(t.estimate), DECIMAL(18,2)) 'estimate'
			, CONVERT(sum(tet1.consumed), DECIMAL(18,2)) 'consumed'
			, CONVERT(sum(if(t.`status` in ('done', 'closed') and tet1.consumed<t.estimate, 1, 0)), DECIMAL(18,2)) 'excellentTasks'
			, CONVERT(sum(if(t.`status` in ('done', 'closed') and tet1.consumed<t.estimate, t.estimate-tet1.consumed, 0)), DECIMAL(18,2)) 'excellentTasksHour'
			, CONVERT(sum(if(DATEDIFF(tet1.date, t.deadline)>0 and tet1.consumed>t.estimate, 1, 0)), DECIMAL(18,2)) 'timeoutTasks'
			, CONVERT(sum(if(DATEDIFF(tet1.date, t.deadline)>0 and tet1.consumed>t.estimate, tet1.consumed-t.estimate, 0)), DECIMAL(18,2)) 'timeoutTasksHour'
			, CONVERT(sum(if(t.`status` in ('done', 'closed'), 1, 0)), DECIMAL(18,2)) 'completeTasks'
			, CONVERT(sum(if(t.`status` in ('done', 'closed') and DATEDIFF(tet1.date, t.deadline)<=0, 1, 0)), DECIMAL(18,2)) 'excellentCompleteTasks'
			, CONVERT(sum(if(t.`status` in ('done', 'closed') and DATEDIFF(tet1.date, t.deadline)<=0, tet1.consumed, 0)), DECIMAL(18,2)) 'excellentCompleteTasksHour'
		from zt_task t
		INNER JOIN (
			select tet.account
				, tet.task
				, max(tet.left) estimate
				, SUM(tet.consumed) consumed
				, max(tet.date) date
			from zt_taskestimate tet
			where 1=1
		]]>
			<if test="params.beginDate != null and params.beginDate != ''">
				<![CDATA[and tet.date >= '${params.beginDate}']]>
		    </if>
			<if test="params.endDate != null and params.endDate != ''">
				<![CDATA[and tet.date < DATE_ADD('${params.endDate}',INTERVAL 1 DAY)]]>
		    </if>
		<![CDATA[
			group by tet.account, tet.task
		) tet1 on tet1.task = t.id and tet1.account = if(t.finishedBy is not null and t.finishedBy <> '', t.finishedBy, t.assignedTo)
		left JOIN zt_user u on u.account = if(t.finishedBy is not null and t.finishedBy <> '', t.finishedBy, t.assignedTo)
		left join zt_dept dept on dept.id = u.dept
		left join zt_dept dept1 on dept1.id = dept.parent
		where 1=1
		]]>
		<if test="params.username != null and params.username != ''">
		<![CDATA[and u.account = '${params.username}']]>
	    </if>
		<if test="params.deptId != null and params.deptId != ''">
		<![CDATA[and u.dept = '${params.deptId}']]>
	    </if>
		<if test="params.deptName != null and params.deptName != ''">
			<![CDATA[and dept1.`name` like '${params.deptName}%']]>
	    </if>
		<if test="params.groupName != null and params.groupName != ''">
			<![CDATA[and dept.`name` like '${params.groupName}%']]>
	    </if>
		<if test="params.staffName != null and params.staffName != ''">
			<![CDATA[and u.realname like '${params.staffName}%']]>
	    </if>
		<![CDATA[
		and t.`status` not in ('cancel', 'pause')
		and t.deleted = '0'
		GROUP BY dept1.id, dept.id, u.id
		ORDER BY dept1.id, dept.id, u.id
	) t1
	]]>
    </select>
    
 	<!--查询用户信息 -->
	<select id="findUser" parameterType="string" resultType="com.ruoyi.zentao.domain.ZentaoUser">
	<![CDATA[ 
		select u.*, d.`name` 'deptName'
		from zt_user u
		LEFT JOIN zt_dept d on u.dept = d.id
		where u.account = '${username}'
	]]>
    </select>
    
 	<!--查询部门信息 -->
	<select id="findDept" parameterType="int" resultType="com.ruoyi.zentao.domain.ZentaoDept">
	<![CDATA[ 
		select * 
		from zt_dept 
		where id <> 0
		order by grade
	]]>
    </select>

	<!--查询部门信息 -->
	<select id="deptList" resultType="com.ruoyi.zentao.domain.ZentaoDept">
	<![CDATA[
		select *
		from zt_dept
		where id <> 0
		order by id
	]]>
    </select>
    <!-- 
		where id = ${id}
		or id in (
			select substring_index(substring_index(d.path, ',', b.help_topic_id + 1), ',', -1) id 
			from zt_dept d 
			JOIN mysql.help_topic b ON b.help_topic_id < (length(d.path) - length(REPLACE(d.path, ',', '')) + 1)
			where d.id = ${id}
		) -->
    
</mapper>