<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改个人月度绩效考核汇总')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-collect-edit" th:object="${performanceCollect}">
            <input name="id" th:field="*{id}" type="hidden">

            <div class="form-group">    
                <label class="col-sm-3 control-label">工作进度：</label>
                <div class="col-sm-8">
                    <input name="jobSchedule" th:field="*{jobSchedule}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">工作质量：</label>
                <div class="col-sm-8">
                    <input name="jobQuality" th:field="*{jobQuality}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">工作表现：</label>
                <div class="col-sm-8">
                    <input name="jobPerformance" th:field="*{jobPerformance}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">产品满意度：</label>
                <div class="col-sm-8">
                    <input name="productSatisfaction" th:field="*{productSatisfaction}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">考核合计：</label>
                <div class="col-sm-8">
                    <input name="assessTotal" th:field="*{assessTotal}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">学习提升：</label>
                <div class="col-sm-8">
                    <input name="learningPromotion" th:field="*{learningPromotion}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">质量保障：</label>
                <div class="col-sm-8">
                    <input name="qualityAssurance" th:field="*{qualityAssurance}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">专利资质：</label>
                <div class="col-sm-8">
                    <input name="patent" th:field="*{patent}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">效率优化：</label>
                <div class="col-sm-8">
                    <input name="efficiency" th:field="*{efficiency}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">鼓励合计：</label>
                <div class="col-sm-8">
                    <input name="encourageTotal" th:field="*{encourageTotal}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">绩效评分：</label>
                <div class="col-sm-8">
                    <input name="performanceGrade" th:field="*{performanceGrade}" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">绩效评级：</label>
                <div class="col-sm-8">
                    <input name="performanceRate" th:field="*{performanceRate}" class="form-control" type="text">
                </div>
            </div>

        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "business/performance/collect";
        $("#form-collect-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-collect-edit').serialize());
            }
        }

        $("input[name='date']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>